.home-wrapper {
  width: 100%;
  height: 100%;
}

.home-container {
  width: 100%;
  height: 100%;
  background: #CDE8E2;
  position: relative;

  .home-msg-label-wrapper {
    position: absolute;
    top: .55rem;

    .home-msg-label {
      margin-bottom: .2rem;
    }
  }

  .home-icon-btn {
    margin-bottom: .25rem;
  }

  .home-left-icon-btn-wrapper {
    position: absolute;
    top: 2.65rem;
    left: .3rem;
    z-index: 1;
  }

  .home-right-icon-btn-wrapper {
    position: absolute;
    top: .5rem;
    right: .2rem;
    z-index: 1;


    .home-right-icon-btn {
      margin-bottom: .5rem;
    }
  }

  .home-cloud {
    opacity: .9;
    position: absolute;
    top: 1.3rem;
    left: 0;
    width: 3.9rem;
    height: 2.3rem;
    z-index: 1;
    transform: translateX(-100%);

    img {
      width: 100%;
      height: 100%;
    }
  }


  .home-bg-container {
    position: absolute;
    width: 100%;
    height: 84%;
    bottom: 0;

    .home-car {
      width: 2.3rem;
      height: 1.5rem;
      position: absolute;
      bottom: 29%;

      img {
        width: 100%;
        height: 100%;
        box-shadow: 0 5px 0 #2f3640;
      }

    }

    .home-bg {
      z-index: 0;
      position: absolute;
      width: 100%;
      height: 100%;
      bottom: 0;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

